body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}
.header {
	background-color: orange;
	height: 10vh;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}
#box1 {
	border: 5px rgb(41, 40, 40);
	background-color: orange;
	height: 1vh;
	display: flex;
	width: 10px;
	top: 57px;
	left: 180px;
	position: relative;
}
#box2 {
	border: 5px rgb(41, 40, 40);
	background-color: orange;
	height: 1vh;
	display: flex;
	width: 10px;
	top: 39px;
	left: -25px;
	position: relative;
}
img {
	max-width: 300px;
}
#pic {
	border: whitesmoke;
	border-radius: 60%;
}
h2 {
	color: black;
	text-decoration: orange underline;
	
}
h1 {
	color: black;
	text-decoration: orange underline;
}
h3 {
	color: black;
	text-decoration: orange underline;
}
#btnShowMsg {
	margin-top: 444px;
     padding: 9px 14px;
     border-radius: 22px;
     color: rgb(0, 0, 0);
     background-color: yellow;
     font-weight: bold;
     font-size: 23px;    
     margin: 0 3px;
     cursor: pointer;
     }
#btnShowMsg2 {
	margin-top: 444px;
     padding: 9px 14px;
     border-radius: 22px;
     color: rgb(0, 0, 0);
     background-color: yellow;
     font-weight: bold;
     font-size: 23px;    
     margin: 0 3px;
     cursor: pointer;
     }
#btnShowMsg3 {
	margin-top: 444px;
     padding: 9px 14px;
     border-radius: 22px;
     color: rgb(0, 0, 0);
     background-color: yellow;
     font-weight: bold;
     font-size: 23px;    
     margin: 0 3px;
     cursor: pointer;
     }
	 .inputs {
		display: flex;
	 }
	
